@import '../../variables';

.cart-container {
    position: relative;

    .cart-icon-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .icon {
            width: 20px;
            height: 20px;
            background-color: white;
        }

        .cart-counter {
            position: absolute;
            top: -5px;
            right: 140px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 2px 6px;
            font-size: 12px;
            font-weight: bold;
        }
    }

    .dropdown-content {
        position: absolute;
        right: 0;
        top: 30px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        z-index: 1000;
    }

    .cart-title {
        font-weight: bold;
        padding: 10px;
    }

    .cart-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;

        .cart-item-details {
            display: flex;
            flex-direction: column;

            .quantity-control {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;

                button {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    cursor: pointer;
                    font-size: 16px;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }

                span {
                    margin: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .cart-item-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
        margin-left: 10px;
    }

    .cart-item-details {
        flex-grow: 1;
    }

    .cart-item-name {
        color: $subtext-color;
        font-weight: bold;
    }

    .cart-item-price {
        color: $text-color;
        margin-top: 0;
    }

    .cart-item-specializations {
        font-size: 12px;
        color: $subtext-color;
        display: block;
    }

    .cart-total {
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }

    .place-order-button {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        background-color: $primary-color;
        color: white;
        border: none;
        cursor: pointer;
        display: block;
    }

    .place-order-button:hover {
        background-color: darken($primary-color, 10%);
    }
}